name: Workflow for Codecov Action
on: [pull_request]
jobs:
  run:
    permissions: read-all
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Upload test results to Codecov (calculator)
        uses: ./
        with:
          files: ./demo/calculator/junit.xml
          flags: ${{ matrix.os }}
          verbose: true
          token: ${{ secrets.CODECOV_ORG_TOKEN }}
      - name: Upload test results to Codecov (demo)
        uses: ./
        with:
          files: ./demo/coverage-test/junit.xml
          flags: ${{ matrix.os }}
          verbose: true
          token: ${{ secrets.CODECOV_ORG_TOKEN }}
      - name: Upload test results to Codecov (calculator) (staging)
        uses: ./
        with:
          files: ./demo/calculator/junit.xml
          flags: ${{ matrix.os }}
          verbose: true
          token: ${{ secrets.CODECOV_ORG_TOKEN_STAGING }}
          url: ${{ secrets.secrets.CODECOV_STAGING_URL }}
      - name: Upload test results to Codecov (demo) (staging)
        uses: ./
        with:
          files: ./demo/coverage-test/junit.xml
          flags: ${{ matrix.os }}
          verbose: true
          token: ${{ secrets.CODECOV_ORG_TOKEN_STAGING }}
          url: ${{ secrets.secrets.CODECOV_STAGING_URL }}